<?xml version="1.0" encoding="utf-8"?><SystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ServerName>IsolatedIsland.TestServer</ServerName><ServerAddress>140.113.123.134</ServerAddress><ServerPort>4531</ServerPort></SystemConfiguration>